// ANIMATION

@keyframes fill-opacity
    0%
        fill-opacity: 0
    100%
        fill-opacity: 1

@keyframes cold-hot
    0%
        fill: #b8c1ec
    50%
        fill: #eebbc3
    100%
        fill: #b8c1ec

@keyframes scale
    0%
        transform: scale(0.8)
        opacity: 0
    100%
        transform: scale(1)
        opacity: 1

@keyframes scaleReverse
    50%
        transform: scale(0.9)
    100%
        transform: scale(1)

@keyframes right
    0%
        transform: translateX(-100px)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1
        
@keyframes down
    0%
        transform: translateY(-100px)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes left
    0%
        transform: translateX(100px)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1

@keyframes up
    0%
        transform: translateY(100px)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1
